
.profile-img {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}
.profile-img img{
    border-radius: 50%;
    width: 200px;
    border: 10px solid rgb(5, 84, 84);
}
.about-content {
    background-color: rgb(5, 84, 84);
    padding: 1rem 2rem;
    border-radius: 20px;
    text-align: center;
    padding-top: 100px;
}
.container {
    margin-top: -30px;
    padding: 0 2rem;
    height: fit-content;
}

